:root {
    --firstColor: #0E0F6C;
}

header {
    position: absolute;
    z-index: 999;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px 7%;
    margin: 0 auto;
}

.video-bg {
    width: 100%;
    margin: 0 auto;
}

.start-project-box {
    width: 100%;
    padding: 0 7%;
    margin: 0 auto;
    flex: 1;
}

.brand-title {
    font-size: 32px;
    font-weight: 600;
}

.user-action-button {
    font-size: 17px;
    font-weight: normal;
    padding: 7px 24px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: none;
    background: none;
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    font-weight: 600;
}

.button-right-up-arrow-icon {
    height: 21px;
    width: 17px;
}

.section-title {
    font-size: 54px;
    font-weight: 700;
}

.section-subtitle {
    font-size: 28px;
    font-weight: 200;
    opacity: 0.6;
    margin-top: -10px;
}

.section-action-button {
    font-size: 20px;
    background-color: white;
    border-radius: 30px;
    color: var(--firstColor);
    width: max-content;
    padding: 9px 32px;
    margin-top: 24px;
    font-weight: 600;
}

.start-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.start-project-box-title {
    font-size: 32px;
    margin-bottom: 24px;
}

.start-project-box-title--firstColor {
    color: var(--firstColor);
    margin-bottom: 24px;
}

.start-project-box-p {
    color: black;
    opacity: 0.5;
    font-size: 17px;
    font-weight: 200;
    margin-bottom: 36px;
}

.start-project-box-button {
    border: 1px solid var(--firstColor);
    border-radius: 30px;
    padding: 7px 24px;
    font-size: 17px;
    background-color: white;
    color: var(--firstColor);
    font-weight: 600;
    column-gap: 10px;
}

.start-project-box-img {
    width: 460px;
    height: 260px;
}

.start-project-box {
    margin-top: 87px;
}

.start-project-box--right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.video-bg {
    position: relative;
}

.video-bg-context {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 128px;
    justify-content: center;
    align-items: center;
    color: white;
}